body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

.header-wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: backgroundTransition 8s ease-in-out infinite;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}

.social-media a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  padding: 1rem 4rem;
  border: 1px solid #fff;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
  color: #2e1c2b;
  background-color: #fff;
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 80% 100%;
  }
  100% {
    background-position: 0% 80%;
  }
}
